* {
    margin: 0 auto;
}

.logo {
    float: left;
    margin: 20px 0 0 50px;
    width: 300px;
    height: 100px;
}

#test {
    /*標籤絕對位置*/
    padding-bottom: 0px;
    padding-left: 0;
    padding-right: 0px;
    padding-top: 0px;
    margin: 0 auto;
    width: 1200px;
    height: 160px;
    background-image: url(../images/header.jpg);
    background-size: 1200px 160px;
    position: relative;
}

#bodybackg {
    background-image: url(../images/12345.png), url(../images/back1.jpg);
    background-repeat: no-repeat;
    width: 1200px;
    height: 745px;
    z-index: -2;
    margin: 0 auto;
}

#bodybackg2 {
    background-image: url(../images/b2.png);
    background-repeat: repeat-y;
    width: 1200px;
    z-index: -3;
    margin: 0 auto;
}

.food2body {
    width: 1200px;
    padding: 0 auto;
    position: relative;
    left: 160px;
}

.food2 {
    width: 800px;
    padding: 0 auto;
}

#bodybackg p {
    font-size: 25px;
    color: #003DFD;
}

.body2 {
    z-index: -1;
}

.rightbg {
    position: relative;
    right: 0px;
    top: 80px;
    width: 480px;
    height: 100px;
    margin-right: 0px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    /* 取消ul預設的內縮及樣式 */
    position: absolute;
}

li {
    border: #ccc 1px solid;
}

li a {
    color: #11767E;
    /*字體顏色*/
}

#navbox {
    width: 560px;
    height: 40px;
    position: absolute;
    top: 120px;
    right: 0px;
}

ul.tab {
    float: right;
    background-color: #5523F7;
    /*背景透明度*/
    opacity: 0.9;
    height: 0px;
    z-index: 2;
}

ul.tab ul {
    padding-bottom: 0px;
    padding-left: 0;
    padding-right: 0px;
    padding-top: 0px;
    margin: 0 auto;
    margin: 0%;
    padding: 0;
    list-style: none;
}

ul.tab > li {
    float: left;
    /* 只有第一層是靠左對齊*/
}

ul.tab font {
    color: #11767E;
}

ul.tab a {
    display: block;
    padding: 0 30px;
    text-decoration: none;
    /* 取消超連結樣式 */
    line-height: 40px;
    background-color: #F5F3F3;
}

ul.tab a:hover {
    /* 滑鼠滑入按鈕變色*/
    color: #F50707;
}

ul.tab li:hover > a {
    /* 滑鼠移入次選單上層按鈕保持變色*/
    background-color: #CCCCCC;
    color: #F50707;
}

ul.tab ul {
    /*隱藏次選單*/
    display: none;
}

ul.tab li:hover > ul {
    /* 滑鼠滑入展開次選單*/
    display: block;
}

#imm1 {
    position: relative;
    width: 500px;
    left: 350px;
    /*此區塊寬度*/
}

#imm {
    /*圖片在此區塊位置*/
    position: absolute;
    top: 0;
    right: 20;
    z-index: 0;
}

@-webkit-keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
}

.left {
    position: relative;
    width: 1200px;
    height: 800px;
    z-index: 1;
}

.slideInLeft img {
    z-index: 1;
    width: 810px;
    height: 746px;
}

.indexright {
    width: 400px;
    position: absolute;
    right: 0;
    top: 300px;
}

.indexright img {
    width: 350px;
}
